/* .home-cards {
  max-width: 768px;
  width: 100%;
  background: blueviolet;
  display: flex;
  flex-direction: column;
} */
body{
  box-sizing: border-box;
}

.home-cards div h1 {
  color: #F4CE14;
}

.home-cards div h2 {
  color: white;
  margin-bottom: 8px;
}

.card {
  padding: 2px;
}

.card p {
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
  padding-left: 0;
}

.text {
  padding-top: 50px;
}

#img-restaurantFood, text {
  width:100%;
  height: auto;
  border-radius: 20px;
}

button, #submit {
  width: 100%;
  background-color: #F4CE14;
  border-radius: 0.3125rem;
  margin-top: 1rem;
}

@media (min-width: 769px) {
  .home-cards {
    flex-direction: row;
    justify-content: center;
    align-items: centre;
    background: #495E57;
    max-height: 406px;
    margin-bottom: 150px;
    gap: 50px;
  }

  .card {
  width: 375px;
  }

  .home-cards div {
    margin: 0;
    text-align: left;
  }

  .home-cards div h2 {
    margin-bottom: 8px;
  }

  #img-restaurantFood {
    width: 375px;
    height: 464px;
    border-radius: 20px;
    margin-top: 50px;
  }

  button, #submit {
    width: 200px;
    height: 60px;
    background-color: #F4CE14;
    border-radius: 5px;
    margin-top: 16px;
  }
}
